<div *ngFor="let nodes of employeesTeams; let i = index">
  <div *ngIf="nodes.teamId == 0">
    {{ "| -- " + nodes.teamHeadDisplayName }}
    <ng-container
      [ngTemplateOutlet]="teamHeadActionContainer"
      [ngTemplateOutletContext]="{
        teamId: nodes.teamId,
        fromCEO: true,
        fromTeamHead: false
      }"
    ></ng-container>
  </div>
  <div *ngIf="nodes.teamId != 0" class="first-level">
    <br />
    {{ "| -- " + nodes.teamHeadDisplayName }}
    <ng-container
      [ngTemplateOutlet]="teamHeadActionContainer"
      [ngTemplateOutletContext]="{
        teamId: nodes.teamId,
        fromCEO: false,
        fromTeamHead: true
      }"
    ></ng-container>
    <br />
    <div *ngIf="nodes.childTeams.length == 0 && nodes.teamId != 0">
      <div
        *ngFor="let teamMember of nodes.teamMembers; let i = index"
        class="team-level"
      >
        <br />
        &nbsp;{{
          teamMember.isTeamLead ? "| -- Team Lead" : "| -- Team Member"
        }}
        <ng-container
          [ngTemplateOutlet]="teamMemberActionContainer"
          [ngTemplateOutletContext]="{ employeeId: teamMember.id }"
        ></ng-container>
      </div>
    </div>
    <div *ngIf="nodes.childTeams.length > 0 && nodes.teamId != 0">
      <div *ngFor="let childTeam of nodes.childTeams; let i = index">
        <span style="margin-left: 3%">{{ "| -- Team " + (i + 1) }}</span>
        <div
          *ngFor="let childTeamMember of childTeam.teamMembers"
          class="team-level"
        >
          <br />
          {{
            childTeamMember.isTeamLead ? "| -- Team Lead" : "| -- Team Member"
          }}
          <ng-container
            [ngTemplateOutlet]="teamMemberActionContainer"
            [ngTemplateOutletContext]="{
              employeeId: childTeamMember.id,
              isTeamLead: childTeamMember.isTeamLead
            }"
          ></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template
  #teamHeadActionContainer
  let-teamId="teamId"
  let-fromCEO="fromCEO"
  let-fromTeamHead="fromTeamHead"
>
  <span>
    <i
      class="bi bi-eye"
      style="margin: 0.3%"
      (click)="viewEmployee(teamId, true)"
    ></i>
    <i
      class="bi bi-plus-circle"
      style="margin: 0.3%"
      (click)="addTeamMember(teamId, fromCEO, fromTeamHead)"
    ></i>
  </span>
</ng-template>
<ng-template
  #teamMemberActionContainer
  let-employeeId="employeeId"
  let-isTeamLead="isTeamLead"
>
  <span>
    <i
      class="bi bi-eye"
      style="margin: 1%"
      (click)="viewEmployee(employeeId, false)"
    ></i>
    <i
      *ngIf="isTeamLead == true"
      class="bi bi-plus-circle"
      style="margin: 1%"
      (click)="addTeamMemberToTeamLead(employeeId)"
    ></i>
  </span>
</ng-template>
