<div class="main-container">
  <div class="list-block">
    <app-view-hierarchy
      [employeesTeams]="employeesTeams"
      (actionEvent)="employeeAction($event)"
    ></app-view-hierarchy>
  </div>
  <div class="detail-block">
    <app-add-employee
      *ngIf="!viewMode"
      [teamId]="selectedTeamId"
      (newEmployeeEvent)="getEmployees()"
    >
    </app-add-employee>
    <app-view-employee
      #viewEmployee
      *ngIf="viewMode"
      [employee]="selectedEmployee"
    >
    </app-view-employee>
  </div>
</div>
