.main-container {
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
}
.list-block {
  display: inline;
  width: 40%;
}
.detail-block {
  display: flex;
  width: 50%;
  margin-left: 30%;
  // margin-top: -36%;
}
